<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pan Tadeusz</title>
</head>
<body>
    <header>
        <h1>Sir Thaddeus, or the Last Foray in Lithuania: A Nobility's Tale of the Years 1811–1812, in Twelve Books of Verse</h1>
    </header>
    <section>
        <h2>Table of contents</h2>
        <ul>
            <li><a href="./">Home Page</a></li>
            <li><a href="./k1">Book 1</a></li>
            <li><a href="./k2">Book 2</a></li>
            <li><a href="./k3">Book 3</a></li>
            <li><a href="./k4">Book 4</a></li>
            <li><a href="./k5">Book 5</a></li>
            <li><a href="./k6">Book 6</a></li>
            <li><a href="./k7">Book 7</a></li>
            <li><a href="./k8">Book 8</a></li>
            <li><a href="./k9">Book 9</a></li>
            <li><a href="./k10">Book 10</a></li>
            <li><a href="./k11">Book 11</a></li>
            <li><a href="./k12">Book 12</a></li>
        </ul>
    </section>
    <section>
        {% block content %}
            <p>Layout file</p>
        {% endblock %}
    </section>
    <footer>
        <p>Katarzyna Wójcik, Krakow University of Economics</p>
    </footer>
</body>
</html>